.container{
    max-width: 1024px;
    max-height: 768px;
    margin: 10px auto;
    overflow: auto;
}

.container .main{
    height: 568px;
}

.container .footer >div{
    height: 100px;
    line-height: 100px;
    background-color: bisque;
}
